:host {
  display: block;
}

youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For Youtube Player */
.player-wrap {
  position: relative;
  width: 100%;
  background: gray;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.col {
  width: 360px;
}
